<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
        
        <title>Create</title>
    </head>
    <body>

        
        <div class="container">

            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.product_name.id_for_label }}">{{ form.product_name.label }}</label>
                    {{ form.product_name }}
                    {% if form.product_name.help_text %}
                        <small id="emailHelp" class="form-text text-muted">{{ form.product_name.help_text }}</small>
                    {% endif %}
                    {% if form.product_name.errors %}
                        {% for error in form.product_name.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.long_description.id_for_label }}">{{ form.long_description.label }}</label>
                    {{ form.long_description }}
                    <!-- {% if form.long_description.help_text %}
                        <small id="emailHelp" class="form-text text-muted">{{ form.long_description.help_text }}</small>
                    {% endif %}
                    {% if form.long_description.errors %}
                        {% for error in form.long_description.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    {% endif %} -->
                </div>
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    {{ form.description }}
                    {% if form.description.help_text %}
                        <small id="emailHelp" class="form-text text-muted">{{ form.description.help_text }}</small>
                    {% endif %}
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </body>
</html>